* {
	margin: 0;
	padding: 0;
}

body {
	background-color:#F5F5F6;
}

/** Global **/

#header_container, #content_container ,#footer_container {
	width: 100%;
	float: left;
}

.button {
	border: 0;
	padding: 20px;
	background: #3c484d;
	color: #f4f4f4;
	font-weight: bold;
}

/* Header */

#header {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#header_top_border {
	width: 100%;
    height: 60px;
   /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 35%);*/
    z-index: 50;
	position: absolute;
	background: url('../asset/images/header.png');
	background-size: cover;
}


#header #logo {
	height: 130px;
	width: 300px;
	background: url('../asset/images/logo_light.png');
	background-repeat: repeat;
	background-size: auto auto;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 30px;
	float: left;
}

#header #navigation_container {
	width: 100%;
}

#header #navigation {
	font-size: 12px;
	float: right;
	margin-top: 100px;
}

#header #navigation_mini {
	display: none;
}

#header .navigation_burger_container {
	display: none;
}

#header #navigation ul {
	margin-top: 0px;
	font-size: 10px;
	float: right;
	margin-bottom: 20px;
}

#header #navigation ul li {
	display: inline-block;
	margin-top: 0px;
	font-size: 10px;
	padding-left: 10px;
}

#header #navigation ul li a {
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	color: #6e6363;
}

#header #navigation ul li a:hover {
	background-color: #3c484d;
	color: #ffffff;
	text-decoration: none;
}

#header #navigation ul li .selectedNav {
	background-color: #3c484d;
	color: #ffffff;
	text-decoration: none;
}

/* End Header */

.page_location {
	font-size: 14px;
}

.page_location a, .page_location a:visited {
	text-decoration: none;
	color: #6e6363;
}


#index_banner {
	display: block;
}

#index_search {
	width: 960px;
	height: 180px;
	/*background-color: #ff3333;*/
	background-color: #f75050;
	z-index: 10;
	position: absolute;
	/*top: 325px;*/
	bottom: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#index_banner {
	width: 100%;
	position: relative;
	height: 515px;
	overflow: hidden;
}

/* Search Bar */

#search_bar {
	width: 100%;
	background-color: #f75050;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

#search_bar #search_form{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#search_form select {
	width: 160px;
	height: 30px;
	text-align: left;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	font-size: 12px;
	margin-bottom: 10px;
	border-radius: 0;
}

#search_form .filter {
	width: 150px;
	height: 20px;
	text-align: left;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	display: none;
	padding: 5px;
	background-color: #ffffff;
	position: relative;	
}

#search_form .filter .label {
	color: #444;
	line-height: 20px;
	display: block;
	height: 20px;
	font-weight: bold;
}

#search_form .filter .close {
	right: 0;
	top: 0;
	position: absolute;
	color: #444;
	font-weight: bold;
	width: 20px;
	height: 30px;
	line-height: 30px;
}

#search_form .filter .close:hover {
	cursor: pointer;
}

#search_form select option {
	text-align: center;
}

#search_buttons {
	width: 800px;
	text-align: center;
}

#search_buttons input {
	width: 160px;
	margin: 0px auto;
	padding: 10px; 
	margin-top: 10px;
}

/* End Search Bar */

/* Content */

#content_container {
	min-height: 10vh;
	padding-bottom: 740px;
}

#content {
	width: 960px; 
	margin: 0px auto;
	background-color: #ffffff;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid #c0c0c0;
}

/* End Content */


#footer_container {
	position: relative;
	width: 100%;
	margin-top: -715px;
}

#footer {
	color: #ffffff;
	text-align: center;
	width: 960px;
	margin: 0px auto;
}

#footer #logo {
	height: 125px;
	width: 300px;
	background: url('../asset/images/logo_dark.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
	

#footer #navigation {
	display: block;
	margin-bottom: 50px;
	margin-top: 30px;
}

#footer #navigation ul li a {
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
}

.footer_content {
	width: 33%; 
	margin-bottom: 20px;
	float: left;
	height: 100px;
	letter-spacing: 2px;
}

#footer #social_buttons {
	width: 100%; 
	height: 80px; 
	color: #ffffff; 
	background-color: #ff3333; 
	line-height: 80px;
	float: left;
}

#footer #financial_disclosure {
	width: 100%;
	float: left;
	margin: 0px auto;
}

#footer p {
	color: #ffffff; 
	font-size: 13px; 
	line-height: 20x; 
	width: 960px;
	margin: 0px auto;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Basic Styles */
h1 {
	color: #333333;
	font-size: 1.8em;
	font-weight: normal; 
	line-height: 100%;
	letter-spacing: 2px;
}

h2 {
	color: #3c484d;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 100%;
	padding-left: 10px;
	padding-top: 10px;
	letter-spacing: 2px;
	padding-right: 10px;
}

h3 {
	color: #f75070;
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	padding: 10px;
	letter-spacing: 2px;
}

.vehicle_count {
	text-align: left;
	padding-left: 10px;
	margin-bottom: 30px;
}


.spacer {
	clear: both;
	height: 40px;
	width: 100%;
}

/* Showroom */

.vehicle_container {
	width: 95%;
	background-color: #EAEAEA;
	/*background-color: #ffffff;*/
	margin: 0px auto;
	margin-top: 20px;
	position: relative;
	border: 1px solid #6b767b;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 20px;
	text-align: left;
	border-radius: 3px;
}

.vehicle_container .vehicle_description {
	margin-bottom: 10px;
	height: 65px;
}

.vehicle_container .vehicle_description a {
	color: #6e6363;
}

.vehicle_container .vehicle_image {
	/*height: 560px;*/
	overflow: hidden;
	margin-left: 20px;
	float: left;
	position: relative;
	margin-bottom: 90px;
}

.vehicle_container .vehicle_image img {
	display: block;
	width: 450px;
}

.vehicle_image .no_image {
	width: 700px;
	height: 394px;
	float: left;
	line-height: 100%;
	text-align: center;
	background-color: #ff3333;
	color: #ffffff;
	padding-top: 100px;
}

.vehicle_image_count {
	width: 100%;
	background-color: #444444;
	color: #ffffff;
	height: 35px;
	line-height: 30px;
	padding-left: 10px;
	position: absolute;
	bottom: 0px;
}

.vehicle_details {
	margin-left: 30px;
	margin-top: 10px;
	float: left;
	padding: 10px;
	padding-right: 20px;
	background-color: #ffffff;
}

.vehicle_details ul {
	padding-left: 0px;
	margin-left: 20px;
	list-style-type: none;
}

.vehicle_details ul li {
	line-height: 30px;
	letter-spacing: 3px;
}

.vehicle_details ul li .detail_label {
	width: 240px;
	float: left;
}

.vehicle_price {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 120px;
	height: 60px;
	background-color: #f75050;
	color: #fff;
	padding: 10px;
	text-align: center;
	/*border: 3px solid #6e6363;*/
	box-shadow: 3px 3px #d8d4d4;
	text-shadow: 2px 2px 4px #000000;
}

.vehicle_price h1 {
	width: 100%;
	color: #fff;
	text-align: center;
	height: 60px;
	line-height: 55px;
	font-size: 30px;
}


/* Showroom Item */

.vehicle_container_full {
	width: 95%;
	padding: 20px;
	/*border: 1px solid #c0c0c0;*/
	background-color: #EAEAEA;
	/*background-color: #ffffff;*/
	height: 100%;
	margin: 0px auto;
	margin-top: 30px; 
	position: relative;
	border: 1px solid #3c484d2e;
	margin-bottom: 10px;
	border-radius: 3px;
}

.vehicle_container_full .vehicle_description {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.vehicle_container_full .vehicle_image {
	width: 600px;
	height: 400px;
	overflow: hidden;
	position: relative;
	margin: 0px auto;
	float: left;

}

.vehicle_container_full .vehicle_image img {
	height: 100%;
	display: block;
	width: 100%;
	position: relative;
}

.vehicle_container_full .vehicle_image #left_button {
	position: absolute; 
	bottom: 280px; 
	left: -1px; 
	height: 40px; 
	margin-top: 20px; 
	width: 30px;
}

.vehicle_container_full .vehicle_image #right_button {
	position: absolute; 
	bottom: 280px; 
	right: -1px; 
	height: 40px; 
	margin-top: 20px; 
	width: 30px;
}

#vehicleNumberPlate {
	background-color: #eed90c;
	border: 2px solid #000000;
	font-size: 38px;
	width: 200px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding: 10px;
	border-radius: 10px;
	margin: 0px auto;
}

#vehicle_price {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 120px;
	height: 60px;
	background-color: #f75050;
	color: #fff;
	padding: 10px;
	text-align: center;
	border: 3px solid #6e6363;
}

#vehicle_price h1 {
	width: 100%;
	color: #fff;
	text-align: center;
}

.vehicleDetails {
	width: 80%;
	margin: 0px auto;
}

.vehicleDetails .detailContainer {
	float: left;
	text-align: center;
	font-size: 16px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #c0c0c0;
	color: #3c484d;
}



#vehicleSummary, #vehiclePerformance, #vehicleRunningCosts, #vehicleExtras {
	border: 1px solid #3c484d;
	width: 100%;
	padding-bottom: 20px;
	border-radius: 3px;
	padding-top: 20px;
	background-color: #ffffff;
}

#vehicleSummary .detailContainer {
	width: 33%;
}

#vehicleRunningCosts .detailContainer {
	text-align: left;
}



#vehicleRunningCosts .detailContainer {
	width: 100%;
}

#vehicleRunningCosts .detailContainer .detailContainerLabel {
	width: 80%;
	text-align: left;
}

#vehicleRunningCosts .detailContainer .detailContainerValue {
	width: 20%;
	text-align: left;
}

#vehiclePerformance .detailContainer {
	width: 100%;
}

#vehiclePerformance .detailContainer .detailContainerLabel {
	width: 80%;
	text-align: left;
}

#vehiclePerformance .detailContainer .detailContainerValue {
	width: 20%;
	text-align: left;
}

.vehicleDetails .detailContainer:nth-child(3n+3) {
	border-right: 0px;
	margin-right: 0%;
	padding-right: 0%;
}

#vehicleSummary .vehicleDetails .detailContainer:nth-last-child(-n+3) {
	border-bottom: 0px solid #c0c0c0;
}

#vehicleRunningCosts .vehicleDetails .detailContainer:nth-last-child(-n+1) {
	border-bottom: 0px solid #c0c0c0;
}

#vehiclePerformance .vehicleDetails .detailContainer:nth-last-child(-n+1) {
	border-bottom: 0px solid #c0c0c0;
}

.vehicleDetails .detailContainer .detailContainerLabel {
	width: 50%;
	float: left;
	padding-top:5px;
	padding-bottom:5px;

}
.vehicleDetails .detailContainer .detailContainerLabel span {
	padding-left: 10px;
}

.vehicleDetails .detailContainer .detailContainerValue {
	padding-top: 5px;
	width: 50%;
	float: left;
	padding-bottom:5px;
	font-weight: bold;
}


#vehicleExtras .vehicleDetails {
	width: 80%;
	margin: 0px auto;
}

#vehicleExtras .detailContainer {
	width: 100%;
	float: left;
	text-align: left;
	padding-left: 20px;
}

#vehicleExtras .vehicleDetails .detailContainer:nth-last-child(-n+1) {
	border-bottom: 0px solid #c0c0c0;
}


#enquiryContainer {
	float: left;
	text-align: center;
	margin: 0px auto;
	margin-top: 20px;
	background-color: #ffffff;
}

#vehicleEnquiryForm {
	margin: 0px auto;
	
}

#enquiryTable {	
	margin: 0px auto;
	border: 2px solid #c0c0c0;
}

#enquiryTable tr {
	
}

#enquiryTable tr td {
	padding: 10px;
}

#enquiryTable tr td select {
	display: block;

	margin: 0px auto;

	font-size: 12px;

	width: 200px;
}

#enquiryTable tr td option {
padding: 10px;

width: 150px;

font-size: 12px;
}

#enquiryTable tr td input {
padding: 10px;

width: 178px;
}

#enquiryTable tr td textarea {
width: 188px;
 padding: 5px;
height: 100px;
font-family: "Montserrat", sans-serif;
font-size: 12px;
}

#enquiryFormContainer {
	width: 100%;
	
}

.carousel {
	position: relative;
  }



.carousel-inner {
	position: relative;
	overflow: hidden;
	background: url('/view/asset/images/review_container.png'); 
	width: 600px; 
	height: 300px; 
	margin: 0px auto;
}

.carousel-inner > .item {
	display: none;
	position: relative;
	-webkit-transition: 0.6s ease-in-out left;
	-o-transition: 0.6s ease-in-out left;
	transition: 0.6s ease-in-out left;
	
  }

@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-inner > .item {
		-webkit-transition: -webkit-transform 0.6s ease-in-out;
		-moz-transition: -moz-transform 0.6s ease-in-out;
		-o-transition: -o-transform 0.6s ease-in-out;
		transition: transform 0.6s ease-in-out;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1000px;
		-moz-perspective: 1000px;
		perspective: 1000px;
	  }
	  .carousel-inner > .item.next,
	  .carousel-inner > .item.active.right {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		left: 0;
	  }
	  .carousel-inner > .item.prev,
	  .carousel-inner > .item.active.left {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		left: 0;
	  }
	  .carousel-inner > .item.next.left,
	  .carousel-inner > .item.prev.right,
	  .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	  }
  }

  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
	display: block;
	
  }
  .carousel-inner > .active {
	left: 0;
  }
  .carousel-inner > .next,
  .carousel-inner > .prev {
	position: absolute;
	top: 0;
	width: 100%;
  }
  .carousel-inner > .next {
	left: 100%;
  }
  .carousel-inner > .prev {
	left: -100%;
  }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
	left: 0;
  }
  .carousel-inner > .active.left {
	left: -100%;
  }
  .carousel-inner > .active.right {
	left: 100%;
  }

  .reviewMessage {
	font-family: "Montserrat", sans-serif;
	position: absolute;
	font-size: 36px;
	color: #f4f4f4;
	top: 110px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	padding-left: 10%; 
	padding-right: 10%;
}

.reviewAuthor {
	font-family: "Montserrat", sans-serif;
	position: absolute;
	font-size: 18px;
	color: #f4f4f4;
	top: 250px;
	right: 30px; 
}

/* Contact Page */

#contactForm {
	width: 50%;
	float: left;
	background-color: #3c484d;
	padding-top: 20px;
	padding-bottom: 20px;
}

.contactFieldContainer {
	width: 100%;
	height: 60px;
}

.contactLabel {
	width: 40%;
	float: left;
}

.contactLabel p {
	line-height: 1.2;
	text-align: right;
	padding: 10px;
	float: right;
	color: #ffffff;
}

.contactLabel p span {
	width: 100%;
	font-size: 10px;
	float: right;
}

.contactField {
	text-align: left;
	width: 45%;
	float: left;
	padding-left: 20px;
}

.contactField input {
	text-align: left;
	width: 100%;
	float: left;
	height: 100%;
	border: 1px solid #c0c0c0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.contactField textarea {
	width: 100%;
	padding: 10px;
	height: 100px;
	border: 1px solid #c0c0c0;
}

.contactFormSubmit {
	text-align: center;
}

.contactFormSubmit input {
	margin: 0px auto;
	width: 120px;
	cursor: pointer;
	background-color: #ffffff;
	color: #3c484d;
}

#openingTimes {
	float: left;
	width: 50%;
	color: #6e6363;
}

#openingTimes h3 {
	padding-left: 40px;
	padding-top: 0px;
	margin-bottom: 10px;
}

#openingTimes .openingTimeContainer {
	margin-top: 15px;
	height: 20px;
}

#openingTimes .openingDay {
	float: left;
	padding-left: 70px;
	width: 200px;
}

#openingTimes .openingTime {
	float: left;
	padding-left: 20px;
	width: 100px;
}

#map {
	width: 100%;
	height: 100%;
}