* {
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 320px) and (max-width: 479px)  {
	#header_container, #content_container ,#footer_container {
		width: 100%;
		float: left;
	}

	#header #logo {
		height: 110px;
		width: 230px;
		margin-top: 20px;
		float: left;
	}

	#navigation {
		width: 100%;
		font-size: 8px;
		margin-top: 0px;
	}

	#navigation ul {
		float: left;
		margin-top: 0px;
		font-size: 10px;
		width: 100%;
		margin-bottom: 20px;
	}

	#navigation ul li {
		float: left;
		margin-top: 0px;
		font-size: 10px;
		width: 100%;
		margin-bottom: 20px;
	}

	#navigation ul li a {
		display: inline-block;
		font-size: 16px;
		letter-spacing: 1px;
	}

	#index_banner {
		display: none;
	}

	#search_bar {
		background-color: #f75050;

	}

	#search_bar {
		width: 100%;
		background-color: #f75050;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#search_bar #search_form{
		width: 100%;
	}

	#search_form select {
		width: 96%;
		text-align: left;
		padding: 5px;
		font-size: 13px;
		height: 40px;
		margin: 0px auto;
		margin-bottom: 10px;
		display: inherit;
	}

	#search_form .filter {
		width: 93%;
		height: 20px;
		text-align: left;
		padding: 5px;
		display: none;
		background-color: #ffffff;
		position: relative;
		height: 30px;
		margin: 0px auto;
		margin-bottom: 10px;
		
	}
	
	#search_form .filter .label {
		color: #444;
		line-height: 30px;
	}
	
	#search_form .filter .close {
		right: 10px;
		top: 10px;
		position: absolute;
		z-index: 10;
		color: #444;
		font-weight: bold;
	}
	
	#search_form .filter .close:hover {
		cursor: pointer;
	}
	
	#search_form select option {
		text-align: center;
	}

	#search_form input {
		width: 95%;
		margin: 0px auto;
		padding: 10px; 
		display: inherit;
		margin-top: 10px;
	}

	#footer #navigation {
		display: none;
	}

	#footer #navigation ul li a {
		color: #ffffff;
	}

	.footer_content {
		width: 100%; 
		margin-bottom: 20px;
	}

	h1 {
		color: #333333;
		font-size: 1.8em;
		font-weight: normal; 
		line-height: 100%;
		letter-spacing: 2px;
	}

	h2 {
		color: #3c484d;
		font-size: 1.2em;
		font-weight: normal;
		line-height: 100%;
		padding-left: 10px;
		padding-top: 10px;
		letter-spacing: 2px;
	}

	h3 {
		color: #f75070;
		font-size: 12px;
		font-weight: bold;
		line-height: 100%;
		padding: 10px;
		letter-spacing: 2px;
	}


}

@media only screen and (min-width: 480px) and (max-width: 767px){


	#header, #content_container #content, #header #navigation, #header #navigation ul, #footer_container, #footer, #footer #navigation {
		width: 100%;
	}

	#header #logo {
		height: 110px;
		width: 230px;
		margin-top: 20px;
		float: left;
	}


	#header #navigation_container, #footer #navigation_container {
		width: 100%;
	}
	
	#header #navigation {
		font-size: 8px;
		margin-top: 0px;
	}

	#header #navigation ul {
		float: left;
		margin-top: 0px;
		font-size: 10px;
		width: 100%;
		margin-bottom: 20px;
	}




} 

@media only screen and (min-width: 769px) and (max-width: 991px) {
	#header, #content_container #content {
		width: 753px;
	}
	#footer_container {
		display:none;
	}
} 


@media only screen and (min-width: 992px) {
	#header, #content_container #content {
		width: 970px;
	}
	#footer_container {
		display:none;
	}
} 


@media only screen and (min-width: 1200px) {
	#header, #content_container #content {
		width: 1140px;
	}

	#footer_container {
		display:none;
	}
}


#header_container {
	width: 100%;
	
}

#header_top_border {
	width: 100%;
    height: 60px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 35%);
    z-index: 50;
    position: absolute;
}

#header {

	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#header #logo {
	background: url('../asset/images/logo_light.png');
	background-repeat: repeat;
	background-size: auto auto;
	background-size: contain;
	background-repeat: no-repeat;
}



#content_container {
	width: 100%;
	min-height: 500px;
}

#content_container #content {
	margin: 0px auto;
	margin-top: 40px;
	text-align: left;
	margin-bottom: 30px;
}

/*#index_search {
	width: 100%;
	height: 180px;
	background-color: #f75050;
	z-index: 10;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#index_banner {
	width: 100%;
	position: relative;
	height: 515px;
	overflow: hidden;
}
*/
#vehicle_container {
	width: 100%;
	padding: 5px;
	background-color: #EAEAEA;
	height: 410px;
	margin: 0px auto;
	margin-top: 30px;
	position: relative;
	border: 1px dashed #6e6363;
	cursor: pointer;
}

#vehicle_container:hover {
	border: 1px solid #444444;
	outline:3px solid #444444;
}

#vehicle_container_full {
	width: 100%;
	padding: 5px;
	/*border: 1px solid #c0c0c0;*/
	background-color: #EAEAEA;
	height: 100%;
	margin: 0px auto;
	margin-top: 30px;
	position: relative;
	border: 1px dashed #6e6363;
}

#vehicle_container #vehicle_description {
	margin-bottom: 10px;
	height: 65px;
}

#vehicle_container_full #vehicle_description {
	margin-bottom: 10px;
	height: 65px;
	float: left;
}

#vehicle_container #vehicle_image {
	width: 385px;
	height: 320px;
	margin-left: 20px;
	float: left;
	overflow: hidden;
	position: relative;
}

#vehicle_container_full #vehicle_image {
	width: 900px;
	height: 675px;
	margin-left: 20px;
	float: left;
	overflow: hidden;
	position: relative;
	margin-top: 20px; 
	margin-bottom: 20px;
}

#vehicle_container #vehicle_image img {
	height: 285px;
	display: block;
	width: 100%;
}

#vehicle_container_full #vehicle_image img {
	height: 100%;
	display: block;
	width: 100%;
	position: relative;
}

#vehicle_image .no_image {
	width: 100%;
	height: 100%;
	float: left;
	line-height: 100%;
	text-align: center;
	background-color: #ff3333;
	color: #ffffff;
	padding-top: 100px;
}

#vehicle_image_count {
	width: 100%;
	background-color: #444444;
	color: #ffffff;
	height: 35px;
	line-height: 30px;
	padding-left: 10px;
	/*position: absolute;*/
	float: left;
	bottom: 0px;
}

#vehicle_details {
	width: 500px;
	min-height: 280px;
	margin-left: 20px;
	float: left;
	margin-top: 20px;
}

#vehicle_price {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 120px;
	height: 60px;
	background-color: #f75050;
	color: #fff;
	padding: 10px;
	text-align: center;
	border: 3px solid #6e6363;
}

#vehicle_price h1 {
	width: 100%;
	color: #fff;
	text-align: center;
}

#footer {
	min-height: 380px;
	margin-top: 10px; 
	margin-left: auto;
	margin-right: auto;
	/*padding: 10px;*/
}

#footer #navigation {
	margin-top: 20px;
}

#footer #navigation ul {
	/*padding-left: 30px;*/
}


#footer #logo {
	height: 150px;
	width: 300px;
	background: url('../asset/images/logo_dark.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
	
/*#search_form select {
	width: 160px;
	text-align: left;
	float: left;
	margin-left: 20px; 
	margin-right: 20px;
	padding: 5px;
	font-size: 13px;
	height: 40px;
	margin-bottom: 10px;
}
*/
/*#search_form .filter {
	width: 100%;
	height: 20px;
	text-align: left;
	float: left;
	margin-left: 20px; 
	margin-right: 20px;
	padding: 5px;
	display: none;
	background-color: #ffffff;
	position: relative;
}

#search_form .filter .label {
	color: #444;
}

#search_form .filter .close {
	right: 10px;
	top: 5px;
	position: absolute;
	z-index: 10;
	color: #444;
	font-weight: bold;
}

#search_form .filter .close:hover {
	cursor: pointer;
}

#search_form select option {
	text-align: center;
}
*/
.spacer {
	clear: both;
	height: 40px;
	width: 100%;
}
